<div class="container">
    <!-- HEADER -->
    <div class="row" id="idscroll">
        <div class="col-1 align-center">
            <img class="img-fluid" src="./assets/icon/ilustracion_mesas_en_espera.png" alt="" />
        </div>
        <div class="col-11 align-center">
            <h4 class="title align-center">AUDITORIA COCINA</h4>
        </div>
        <div class="col-2 align-center">
            <br />
            <br />
            <h5 class="subtitle-negro">SUCURSALES</h5>
        </div>
        <div class="col-2 align-center">
            <br><br>
            <span class="date-grey">
                <!-- {{ today | date: "dd MMM yyy" }} -->
            </span>
        </div>
    </div>
    <!-- FILTERS -->
    <div class="row my-4">

        <div class="col-3">
            <div class="form-group">
                <label class="non-margin" for="Ciudad">REGIONAL</label>
                <select [disabled]="ciudad == undefined" (change)="getdataSucursal(regional)" [(ngModel)]="regional"
                    class="form-control" id="Regional">
                    <option [value]="item.id" *ngFor="let item of catRegionales">{{item.name}} {{item.lastName}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label class="non-margin" for="SucursalAdmin">SUCURSAL</label>
                <select [disabled]="regional == undefined" 
                    [(ngModel)]="sucursal" class="form-control" id="SucursalAdmin">
                    <option [value]="item.titulo" *ngFor="let item of catSucursal">{{item.titulo}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-3 align-center">
            <div class="form-group">
                <label for="fechaInicial">FECHA INICIAL</label>
                <div class="input-group">
                    <input onkeydown="return false" id="fechaInicial" class="form-control" type="date"
                        placeholder="yyyy-mm-dd" [(ngModel)]="dateInit"
                        />
                </div>
            </div>
        </div>
        <div class="col-md-3 align-center">
            <div class="form-group">
                <label for="fechaFinal">FECHA FINAL</label>
                <div class="input-group">
                    <input onkeydown="return false" id="fechaFinal" class="form-control" type="date"
                        placeholder="yyyy-mm-dd" [(ngModel)]="dateEnd"
                        />
                </div>
            </div>
        </div>
        <div class="col-md-3 align-center">
            <br/>
            <button  (click)="getTiempos(ciudad, sucursal, dateInit, dateEnd)" style="background-color: #3b88fb; border-radius: 16px" type="button" class="btn">
              BUSCAR
            </button>
          </div>
    </div>

    <br />
        <!-- total mermas -->
        <!-- <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-12 my-2">
                    <div class="text-center">
                      <h5>TOTAL EN MERMAS</h5>
                    </div>
                  </div>
                  <div class="col-12 my-2">
                    <div class="text-center">
                      <span class="card_porcentage">{{this.mermastotal | currency}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
    <!-- TABLE -->
    <div data-bs-spy="scroll" data-bs-target="#idscroll" data-bs-offset="0" class="scrollspy-example row" tabindex="0">
        <div class="col-12">
            <table class="table table-hover col-12" >
                <thead class="thead-warning header_table">
                    <tr class="mi_celda">
                        <th colspan="12"><h5 class="subtitle-negro-2">TIEMPOS EN COCINA</h5></th>
                    </tr>
                    <tr>
                        <th scope="col-2"></th>
                        <th scope="col-2">RANGO</th>
                        <th scope="col-2"></th>
                        <th scope="col-4">COMANDAS</th>
                        <th scope="col-2"></th>
                        <th scope="col-4">PORCENTAJE</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of dataR">
                        <td class="col-2"></td>
                        <td class="col-2">
                            {{ item.rango }}
                        </td>
                        <td class="col-2"></td>
                        <td class="col-2">
                            {{ item.comandas }}
                        </td>
                        <td class="col-2"></td>
                        <td class="col-2">
                            {{item.porcentaje}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br/>
    <div data-bs-spy="scroll" data-bs-target="#idscroll" data-bs-offset="0" class="scrollspy-example row" tabindex="0">
        <div class="col-12">
            <table class="table table-hover col-12" >
                <thead class="thead-warning header_table">
                    <tr class="mi_celda">
                        <th colspan="12"><h5 class="subtitle-negro-2">ULTIMA COMANDA</h5></th>
                    </tr>
                    <tr>
                        <th scope="col-2">IDCOMANDA</th>
                        <th scope="col-2">MINUTOS</th>
                        <th scope="col-2"></th>
                        <th scope="col-4">SUCURSAL</th>
                        <th scope="col-2">HORA</th>
                        <th scope="col-4">FECHA</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of dataC">
                        <td class="col-2">
                            {{ item.idComanda }}
                        </td>
                        <td class="col-2">
                            {{ item.minutos }}
                        </td>
                        <td class="col-2"></td>
                        <td class="col-2">
                            {{ item.sucursal }}
                        </td>
                        <td class="col-2">
                            {{item.hora | date:'shortTime'}} 
                        </td>
                        <td class="col-2">
                            {{item.hora | date: "dd/MM/yyy"}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>