.title {
    color: #ad182d;
    font-weight: bold;
  }
  
  .align-center {
    align-self: center;
  }
  .img-size{
    width: 45%;
  }
  .img-size-min{
    width: 12%;
  }
  .date-grey {
    font-weight: 500;
    color: grey;
  }
  .subtitle-negro {
    color: black;
    font-weight: bold;
    font-size: large;
    margin: 0;
  }
  .header_table {
    background-color: #ffb819;
  }
  .card_porcentage {
    font-size: 2.1rem;
    text-transform: capitalize;
    font-weight: 400;
    color: #9a9a9a;
  }
  
  .example-container {
    height: 500px;
    width: 100%;
    overflow: auto;
    
  }
  .mat-table {
    font-family: "oswald" !important;
  }
  th {
    color: black !important;
    background-color: #ffb819 !important;
  }
  