<div style="position: relative; height: 95%; margin: 0;">


    <h4>PRECIOS DE COMPRA</h4>

    <h5 class="mt-3 mb-3">{{nombrearticulo}}</h5>


    <div style="overflow: auto;" class="mt-3">
    
     <div class="row m-0">
        <div class="col-6">
            <label>PROVEEDOR</label>
            <select class="form-control" [disabled]="artprovlist.length==0" (change)="changedata($event)" [(ngModel)]="proveedorselect">
                <option *ngFor="let elemento of artprovlist" [value]="elemento.codproveedor">{{ elemento.codproveedor+' - '+elemento.nombre }}</option>
            </select>
        </div>
        <div class="col-3">
            <label>TARIFA</label>
            <input type="number" class="form-control" [(ngModel)]="idtarifa" disabled>
        </div>
        <div class="col-3">
            <label>COD ARTICULO</label>
            <input type="number" class="form-control" [(ngModel)]="codart" disabled>
        </div>
     </div>

     <div class="row m-0 mt-3">
        <div class="col-12">
            <label>PRECIO BRUTO</label>
            <input type="number" class="form-control"  [(ngModel)]="pbruto">
        </div>
        <div class="col-6" style="display: none;">
            <label>PRECIO NETO</label>
            <input type="number" class="form-control" [(ngModel)]="pbruto" disabled>
        </div>
     </div>

     <div class="row m-0 mt-3">
        <label>JUSTIFICACIÓN</label>
        <textarea class="form-control p-2" [(ngModel)]="comentario">
          
        </textarea>
      </div>
    
    </div>
    
    <div style=" position: absolute;
    bottom: 10px;
    right: 10px;">
    <button class="btn-grad" (click)="guardar()">GUARDAR</button>
    <button class="btn-grad2" (click)="close()">CANCELAR</button>
    </div>


</div>