<div class="container">
    <!-- HEADER -->
    <div class="row" id="idscroll">
        <div class="col-1 align-center">
            <img class="img-fluid" src="./assets/icon/ilustracion_asistencias.png" alt="" />
        </div>
        <div class="col-11 align-center">
            <h4 class="title align-center">AUDITORIA 25 PTS</h4>
        </div>
        <div class="col-2 align-center">
            <br />
            <br />
            <h5 class="subtitle-negro">SUCURSALES</h5>
        </div>
        <div class="col-2 align-center">
            <br><br>
            <span class="date-grey">
                <!-- {{ today | date: "dd MMM yyy" }} -->
            </span>
        </div>
    </div>
    <!-- FILTERS -->
    <div class="row my-4">
        <div class="col-3">
            <div class="form-group">
                <label class="non-margin" for="Ciudad">CIUDAD</label>
                <select (change)="getdataRegional(ciudad)" [(ngModel)]="ciudad" class="form-control" id="Ciudad">
                    <option [value]="item.id" *ngFor="let item of catState">{{item.state}}</option>
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label class="non-margin" for="Ciudad">REGIONAL</label>
                <select [disabled]="ciudad == undefined" (change)="getdataSucursal(regional)" [(ngModel)]="regional"
                    class="form-control" id="Regional">
                    <option [value]="item.id" *ngFor="let item of catRegionales">{{item.name}} {{item.lastName}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label class="non-margin" for="SucursalAdmin">SUCURSAL</label>
                <select [disabled]="regional == undefined" 
                    [(ngModel)]="sucursal" class="form-control" id="SucursalAdmin">
                    <option [value]="item.titulo" *ngFor="let item of catSucursal">{{item.titulo}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-3 align-center">
            <div class="form-group">
                <label for="fechaInicial">FECHA INICIAL</label>
                <div class="input-group">
                    <input onkeydown="return false" id="fechaInicial" class="form-control" type="date"
                        placeholder="yyyy-mm-dd" [(ngModel)]="dateInit"
                        />
                </div>
            </div>
        </div>
        <div class="col-md-3 align-center">
            <div class="form-group">
                <label for="fechaFinal">FECHA FINAL</label>
                <div class="input-group">
                    <input onkeydown="return false" id="fechaFinal" class="form-control" type="date"
                        placeholder="yyyy-mm-dd" [(ngModel)]="dateEnd"
                        />
                </div>
            </div>
        </div>
        <div class="col-md-3 align-center">
            <br/>
            <button  (click)="getAudita(ciudad, sucursal, dateInit, dateEnd)" style="background-color: #3b88fb; border-radius: 16px" type="button" class="btn">
              BUSCAR
            </button>
          </div>
    </div>

    <br />
        <!-- total incidencias -->
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-12 my-2">
                    <div class="text-center">
                      <h5>TOTAL DE INCIDENCIAS</h5>
                    </div>
                  </div>
                  <div class="col-12 my-2">
                    <div class="text-center">
                      <span class="card_porcentage">{{this.incidenciastotal}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    <!-- TABLE -->
    <div data-bs-spy="scroll" data-bs-target="#idscroll" data-bs-offset="0" class="scrollspy-example row" tabindex="0">
        <div class="col-12">
            <table class="table table-hover col-12" >
                <thead class="thead-warning header_table">
                    <tr>
                        <th scope="col-1">USUARIO</th>
                        <th scope="col-2">FECHA</th>
                        <th scope="col-1">MESA</th>
                        <th scope="col-1">TOTAL PTS</th>
                        <th scope="col-1">COBROS</th>
                        <th scope="col-1">COBROS MINIMOS</th>
                        <th scope="col-1">DIFERENCIA</th>
                        <th scope="col-3">JUSTIFICACION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data">
                        <td class="col-1">
                            {{ item.usuario }}
                        </td>
                        <td class="col-2">
                            {{ item.fechaIni }}
                        </td>
                        <td class="col-1">
                            {{item.mesa}}
                        </td>
                        <td class="col-1">
                            {{item.totalAyc}}
                        </td>
                        <td class="col-1">
                            {{item.cobros}}
                        </td>
                        <td class="col-1">
                            {{item.cobrosMinimos}}
                        </td>
                        <td class="col-1">
                            {{item.diferencia}}
                        </td>
                        <td class="col-4">
                            {{item.justificacion}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>